* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
}

object {
    width: 300px;
}

.play-btn {
    font-size: 22px;
    z-index: 100;
}

.play-board {
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.7s ease-out
}

.tile {
    width: 50px;
    height: 45px;
    background-color: #f0f0f0;
    border-bottom: 3px solid black;
    margin: 0px 4px;
    font-family: 'Inter';
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.used-letters {
    width: 400px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    color: red;
    display: flex;
}

.instruction {
    color: rgb(90, 89, 89);
    font-family: 'Inter';
    font-size: 22px;
    visibility: hidden;
}

.winner-sign {
    width: 220px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid black;
}

.winner-sign p {
    font-size: 22px;
    margin-bottom: 5px;
}

.again-btn {
    font-size: 22px;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}