* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
}

object {
    width: 300px;
}

h1 {
    margin-top: -100px;
    margin-bottom: 30px;
}

.play-btn {
    font-size: 22px;
    padding: 5px 12px;
    cursor: pointer;
}

.play-board {
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.7s ease-out
}

.tile {
    width: 50px;
    height: 45px;
    background-color: #f0f0f0;
    border-bottom: 3px solid black;
    margin: 0px 4px;
    font-family: 'Inter';
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.used-letters {
    width: 400px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    color: red;
    display: flex;
}

.instruction {
    color: rgb(90, 89, 89);
    font-family: 'Inter';
    font-size: 22px;
    visibility: hidden;
}

.winner-sign, .lost-sign {
    width: 260px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid black;
    position: absolute;
    bottom: 35%;
    left: 50%;
    margin-left: -110px;
    visibility: hidden;
    background-color: whitesmoke;
}

.winner-sign p, .lost-sign p {
    font-size: 18px;
    margin: 5px;
}

.again-btn, .again-btn-2 {
    font-size: 22px;
    padding: 5px 12px;
    margin: 0px 5px;
    margin-top: 8px;
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}